<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers at UC Berkeley. Participants from outside the university are welcome to join as long as there are tickets available on Eventbrite.</p>
  <p><strong>
    The workshop material is presented at an introductory level, and we will assume that you will not have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong> The goal of the workshop is to provide learners new to these tools with a basis for further exploration. If you are already familiar with some of these tools, we instead encourage you to check out <a href="http://www.thehackerwithin.org/berkeley/">our peer learning group</a>.
</p>
